<div id="category-list">
  <div class="navbar">
    <%= link_to categories_path, class: 'back-icon' do %>
      <div id="hamburger">
          <%= image_tag("back.png", class: "hamburger-menu", id: "hamburger-icon") %>
      </div>
    <% end %>
      
      <h2 class="page-title">Add new category</h2>

      <%= image_tag("srch.png", class: "hamburger-menu", id: "hamburger-icon2") %>
</div>


<div class="form-add-category">
    <% flash.each do |name, message| -%>
      <%= content_tag :div, message, class: name %>
    <% end %>
    <%= form_with model: @category, class: "form-category" do |form| %>

       <div class="field">
          <%= form.label :name, "Name here" %>
          <%= form.text_field :name, autofocus: true, autocomplete: "name here", placeholder: "Any category" %>
       </div>

       <div class="field">
           <%= form.label :icon, "Icon here" %>
           <%= form.text_field :icon, autofocus: true, autocomplete: "icon link here", placeholder: "Valid icon link here" %>
       </div>

       <p>* Please, provide a valid link that starts with <strong>'https:'</strong> and ends with <strong>'png/gif/jpg'</strong>.</p>

       <div class="footer2">
         <%= form.submit "Add category", data: { turbo: false }, class: "btn" %>
       </div>

    <% end %>

</div>